{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/delete-recipe.css' %}">
</head>
<body>
    <div>
        <span>Are you sure you want to delete the recipe</span>
        <form action="" method="POST">
            {% csrf_token %}
                    <button type="submit" class="yes-button">Yes</button>
                    <a href="{% url 'my_secret_recipe:view_recipes' %}" class="no-link">No</a>
        </form>
    </div>
</body>
</html>