
{% extends "partials/base.html" %}
{% load static %}
{% block title %}
    <title>jobsphere/account-info/</title>
{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/account-info.css' %}">
{% endblock head %}
{% block content %}
<div class="container">
    <h2 class="mt-4">
        {% if account_type == 'employer' %}
            Employer Account Information
        {% else %}
            Job Seeker Account Information
        {% endif %}
    </h2>

    <form method="POST" action="{% url 'users:account_info' %}" enctype="multipart/form-data" class="mt-3">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Complete Profile</button>
    </form>
</div>
{% endblock content %}
