{% extends "partials/base.html" %}
{% load static %}
{% block title %}
<title>
    jobsphere/forgot-password/
</title>
{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="">
{% endblock head %}
{% block content %}
    <h2>Forgot password</h2>
    <p>Enter your email below to generate reset OTP</p>
    <form action="{% url 'users:forgot_password' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send OTP</button>
    </form>

{% endblock content %}