{% extends "partials/base.html" %}
{% load static %}
{% block title %}
<title>
    Jobsphere/login/
</title>
{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock head %}
{% block content %}
<div class="container">
    <h2>Login</h2>
    
    <form method="POST" action="{% url 'users:login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="{% url 'users:email_sign_up' %}">Sign up</a></p>
    <p>Forgot password? <a href="{% url 'users:forgot_password' %}">Reset password</a></p>
    <a href="{% url 'jobs:home' %}">Go back home</a>
</div>
{% endblock content %}
