{% extends "partials/base.html" %}
{% load static %}

{% block title %}
<title>
    jobsphere/reset-password/
</title>
{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="">
{% endblock head %} 
{% block content %}
    <h2>Reset Password</h2>
    <p>Reset your password below</p>
    <form action="{% url 'users:reset_password'%}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Reset password</button>
    </form>
{% endblock content %}  