{% extends "partials/base.html" %}
{% load static %}

{% block head %}
<link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/add-job.css' %}">
{% endblock %}

{% block content %}
<section class="account-info-container">
    <h2>Post a New Job</h2>

    {% if job_form.errors %}
        <div class="form-error">
            <ul>
                {% for field in job_form %}
                    {% for error in field.errors %}
                        <li>{{ field.label }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
                {% for error in job_form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form class="account-info-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        {% for field in job_form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                    <div class="form-help">{{ field.help_text }}</div>
                {% endif %}
                {% if field.errors %}
                    <div class="form-error">{{ field.errors }}</div>
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit" class="submit-btn">Submit Job</button>
    </form>
</section>


{% endblock %}