{% extends "partials/base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/delete-application.css' %}">
{% endblock head %}
{% block content %}
  {% include "partials/header.html" %}

  <section class="delete-application-section">
    <h1>Delete Job </h1>

    <p class="delete-message">
      Are you sure you want to delete the job 
      <strong>{{ job.title }}</strong>?
    </p>

    <form action="{% url 'jobs:delete_job' job.id %}" method="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Yes, Delete</button>
    </form>
    <div class="cancel-link">
      <a href="{% url 'jobs:view_job_detail' job.id %}">No, take me back</a>
    </div>

  </section>
{% endblock content %}
