{% extends "partials/base.html" %}

{% block content %}
    {% include "partials/header.html" %}

    <section class="job-detail-section">
        <h2>Job Details</h2>

        <div>
            <p><strong>Title:</strong> {{ job.title }}</p>
            <p><strong>Employer:</strong> {{ job.employer }}</p>
            <p><strong>Job Type:</strong> {{ job.get_job_type_display }}</p>
            <p><strong>Location:</strong> {{ job.location }}</p>
            <p><strong>Salary (₦):</strong> {{ job.salary }}</p>
            <p><strong>Experience Required:</strong> {{ job.experience_required }}</p>
            <p><strong>Qualifications:</strong> {{ job.qualifications }}</p>
            <p><strong>Posted Date:</strong> {{ job.posted_date|date:"F j, Y" }}</p>
            <p><strong>Deadline:</strong> {{ job.deadline|date:"F j, Y" }}</p>
            <p><strong>Category:</strong> {{ job.job_category }}</p>
            <p><strong>Status:</strong> {{ job.job_status }}</p>
            <p><strong>Skills Required:</strong> {{ job.skills_required }}</p>
        </div>

        <div class="mt-4">
            {% if request.user.employerprofile %}
                <a href="{% url 'jobs:update_job_details' job.id %}" class="btn btn-primary">Update Job</a>
                <a href="{% url 'jobs:delete_job' job.id %}" class="btn btn-danger">Delete Job</a>
            {% else %}
                <a href="{% url 'jobs:apply_for_job' job.id %}" class="btn btn-success">Apply for Job</a>
            {% endif %}
        </div>
    </section>
{% endblock content %}
